<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='rate.css') }}" rel="stylesheet">
    <title>Map</title>
    <style>
    #myMap {
      height: 350px;
      width: 680px;
    }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgtkU7xkzIcbFq8A3Hhn627ddv6hmzgDw&sensor=false">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>
    <script type="text/javascript"> 
    var map;
    var marker;
    var myLatlng = new google.maps.LatLng(40.80789944202298,-73.9632397653138);
    var geocoder = new google.maps.Geocoder();
    var infowindow = new google.maps.InfoWindow();
      function initialize(){
      var mapOptions = {
      zoom: 18,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    
    map = new google.maps.Map(document.getElementById("myMap"), mapOptions);
    
    marker = new google.maps.Marker({
      map: map,
      position: myLatlng,
      draggable: true 
    }); 
    geocoder.geocode({'latLng': myLatlng }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[0]) {
          $('#latitude,#longitude').show();
          $('#address').val(results[0].formatted_address);
          $('#latitude').val(marker.getPosition().lat());
          $('#longitude').val(marker.getPosition().lng());
          infowindow.setContent(results[0].formatted_address);
          infowindow.open(map, marker);
        }
      }
      
    });
    
    google.maps.event.addListener(marker, 'dragend', function() {
    
    geocoder.geocode({'latLng': marker.getPosition()}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[0]) {
          $('#address').val(results[0].formatted_address);
          $('#latitude').val(marker.getPosition().lat());
          $('#longitude').val(marker.getPosition().lng());
          infowindow.setContent(results[0].formatted_address);
          infowindow.open(map, marker);
        }
      }
    });
  });
    
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Sushi Restaurant Online System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.ask') }}">Ask Question</a></li>
            {% endif %}
            {% if current_user.is_authenticated and (current_user.role == 'Manager') %}
            <li><a href="{{ url_for('main.unanswered') }}">Unanswered Questions</a></li>
            {% endif %}
            {% if current_user.is_authenticated and (current_user.role == 'Manager') %}
            <li><a href="{{ url_for('main.users') }}">User Setup</a></li>
            {% endif %}
            {% if current_user.is_authenticated and (current_user.role == 'Manager') %}
            <li><a href="{{ url_for('main.employee') }}">Employees</a></li>
            {% endif %}
            {% if current_user.is_authenticated and (current_user.role == 'Manager') %}
            <li><a href="{{ url_for('main.salesorder') }}">Accept Sales order</a></li>
            {% endif %}
            {% if current_user.is_authenticated and ((current_user.role == 'Salesmanager') or (current_user.role == 'Manager')) %}
            <li><a href="{{ url_for('main.managesalesorder') }}">Add to sales order</a></li>
            {% endif %}
            {% if current_user.is_authenticated and ((current_user.role == 'Salesmanager') or (current_user.role == 'Manager')) %}
            <li><a href="{{ url_for('main.manageingredients') }}">Manage ingredients and suppliers</a></li>
            {% endif %}
            {% if current_user.is_authenticated and (current_user.role == 'Chef' or (current_user.role == 'Manager')) %}
            <li><a href="{{ url_for('main.managemenu') }}">Manage Menu</a></li>
            {% endif %}
            {% if current_user.is_authenticated and (current_user.role == 'Chef' or (current_user.role == 'Manager') or (current_user.role == 'salesManager')) %}
            <li><a href="{{ url_for('main.managefoodingredients') }}">Manage food ingredients</a></li>
            {% endif %}
            {% if current_user.is_authenticated and (current_user.role != 'Visitor' and current_user.role != 'Blacklisted') %}
            <li><a href="{{ url_for('main.rating') }}">Rate</a></li>
            {% endif %}
            {% if current_user.is_authenticated and (current_user.role != 'Blacklisted') %}
            <li><a href="{{ url_for('main.customermenu') }}">customermenu</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">
      {{ current_user.role }}
      {% block content %}{% endblock %}

    </div> <!-- /container -->

  </body>
</html>
