{% extends 'base.html' %}
{% block title %}Manage ingredients{% endblock %}

{% block content %}
<div class="page-header">
        <h1>Manage ingredients</h1>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="list-group">
                <table style="width:30%; margin:30px auto; border-collapse:collapse;">
                    <tr>
                        <th>Supplier_id</th>
                        <th>Supplier_name</th>
                    </tr>
                    {% for supplier in suppliers %}
                        <tr>
                            <td>{{ supplier.supplier_id }}</td>
                            <td>{{ supplier.supplier_name }}</td>
                        </tr>
                    {% endfor %}
                </table>
                -------------------------------------------------------------------------------------------------
                <table style="width:30%; margin:30px auto; border-collapse:collapse;">
                    <tr>
                        <th>Ingredient_id</th>
                        <th>Ingredient_name</th>
                    </tr>
                    {% for ingredient in ingredients %}
                        <tr>
                            <td>{{ ingredient.ingredient_id }}</td>
                            <td>{{ ingredient.ingredient_name }}</td>
                        </tr>
                    {% endfor %}
                </table>
                -------------------------------------------------------------------------------------------------
                <table style="width:80%; margin:30px auto; border-collapse:collapse;">
                    <tr>
                        <th>ingredientsupplier_id</th>
                        <th>update_date</th>
                        <th>price</th>
                        <th>supplier_name</th>
                        <th>ingredient_name</th>
                    </tr>
                    {% for ingredientsupplier in ingredientsuppliers %}
                        <tr>
                            <td>{{ ingredientsupplier.Ingredientsupplier.supplier_id  }}</td>
                            <td>{{ ingredientsupplier.Ingredientsupplier.update_date  }}</td>
                            <td>{{ ingredientsupplier.Ingredientsupplier.price  }}</td>
                            <td>{{ ingredientsupplier.Supplier.supplier_name  }}</td>
                            <td>{{ ingredientsupplier.Ingredient.ingredient_name  }}</td>
                        </tr>
                    {% endfor %}
                </table>
                -------------------------------------------------------------------------------------------------
                <form class="form-horizontal" method="POST" action="{{ url_for('main.addingredient') }}">
                    <fieldset>
                        <input type="text" class="form-control" name="ingredient_name" id="input_ingredient_name" placeholder="ingredient_name">
                        <button type="submit" class="btn btn-primary">Add ingredients</button>
                    </fieldset>
                </form>
                -------------------------------------------------------------------------------------------------
                <form class="form-horizontal" method="POST" action="{{ url_for('main.addsupplier') }}">
                    <fieldset>
                        <input type="text" class="form-control" name="supplier_name" id="input_supplier_name" placeholder="supplier_name">
                        <button type="submit" class="btn btn-primary">Add ingredient to supply order</button>
                    </fieldset>
                </form>
                -------------------------------------------------------------------------------------------------
                <form class="form-horizontal" method="POST" action="{{ url_for('main.addingredientsupplier') }}">
                    <fieldset>
                        <input type="number" step="any" class="form-control" name="price" id="input_price" placeholder="price">
                        <select name="ingredient_id" font=black>
                            {% for ingredient in ingredients %}
                            <option style="background-color: black" value={{ ingredient.ingredient_id }} font=black>{{ ingredient.ingredient_name }}</option>
                            {% endfor %}
                        </select>
                        <select name="supplier_id" font=black>
                            {% for supplier in suppliers %}
                            <option style="background-color: black" value={{ supplier.supplier_id }} font=black>{{ supplier.supplier_name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">Add ingredient to supply order</button>
                    </fieldset>
                </form>
          </div>
        </div><!-- /.col-lg-12 -->
      </div>
{% endblock %}