{% extends 'base.html' %}
{% block title %}Salary{% endblock %}

{% block content %}



<div class="page-header">
    <h1>Manage Rating</h1>
    <h6>Click to submit ratings</h6>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="list-group">
            {% for userrating in rating %}
                <h4 class="list-group-item-heading">Rated: {{userrating.Rating.rating}} by user {{userrating.User.name}} </h4>
            {% endfor %}  
        </div>
        <form class="form-horizontal" method="POST" action="{{ url_for('main.rateuser') }}">
            <fieldset>
            <div class="rate">
                <input type="radio" id="star5" name="rating" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label for="star1" title="text">1 star</label>
            </div> 
            <select name="rated_id" font=black>
                    {% for useritem in user %}
                    <option style="background-color: black"  value={{ useritem.id }} font=black>
                        name:{{ useritem.name }} role:{{ useritem.role }} 
                    </option>
                    {% endfor %}
                </select>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}