{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="page-header">
        <h1>Register</h1>
      </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal" method="POST" action="{{ url_for('auth.register') }}">
                <fieldset>
                  <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" name="name" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputCreditCard" class="col-lg-2 control-label">Credit Card Number</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" name="creditCardNumber" id="inputCreditCard" placeholder="Credit Card">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputlatitude" class="col-lg-2 control-label">latitude</label>
                    <div class="col-lg-10">
                      <input type="number" step="any" class="form-control" name="latitude" id="latitude" placeholder="latitude">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputlongitude" class="col-lg-2 control-label">longitude</label>
                    <div class="col-lg-10">
                      <input type="number" step="any" class="form-control" name="longitude" id="longitude" placeholder="longitude">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputRole" class="col-lg-2 control-label" font=black>Registering for role</label>
                    <select name="role" font=black>
                      <option value="Visitor" font=black>Visitor</option>
                      <option value="Registered" font=black>Registered</option>
                      <option value="Deliverer" font=black>Deliverer</option>
                      <option value="Chef" font=black>Chef</option>
                      <option value="Salesmanager" font=black>Salesmanager</option>
                      <option value="Manager" font=black>Manager</option>
                    </select>
                  </div>
                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                       <select name="restaurant_id" font=black>
                          {% for restaurant in restaurants %}
                          <option style="background-color: black"  value={{ restaurant.restaurant_id }} font=black>
                              name:{{ restaurant.restaurant_name }} 
                          </option>
                          {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                  </div>
                  drag your marker to your address
                  <div id="myMap"></div>
                <input id="address" type="text" style="width:600px;"/><br/>
                </fieldset>
              </form>
            </div>
          </div>
{% endblock %}