{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="page-header">
        <h1>Register</h1>
      </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal" method="POST" action="{{ url_for('auth.register') }}">
                <fieldset>
                  <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" name="name" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputCreditCard" class="col-lg-2 control-label">Credit Card Number</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" name="creditCardNumber" id="inputCreditCard" placeholder="Credit Card">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputlatitude" class="col-lg-2 control-label">latitude</label>
                    <div class="col-lg-10">
                      <input type="number" step="any" class="form-control" name="latitude" id="inputlatitude" placeholder="latitude">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputlongitude" class="col-lg-2 control-label">longitude</label>
                    <div class="col-lg-10">
                      <input type="number" step="any" class="form-control" name="longitude" id="inputlongitude" placeholder="longitude">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputRole" class="col-lg-2 control-label" font=black>Registering for role</label>
                    <select name="role" font=black>
                      <option value="Visitor" font=black>Visitor</option>
                      <option value="Registered" font=black>Registered</option>
                      <option value="Deliverer" font=black>Deliverer</option>
                      <option value="Chef" font=black>Chef</option>
                      <option value="Salesmanager" font=black>Salesmanager</option>
                      <option value="Manager" font=black>Manager</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputRestaurant" class="col-lg-2 control-label">restaurant</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" name="restaurant" id="inputRestaurant" placeholder="restaurant">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputRole" class="col-lg-2 control-label" font=black>Registering for role</label>
                    <select name="admin" font=black>
                      <option value="False" font=black>False</option>
                      <option value="True" font=black>True</option>
                    </select>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
{% endblock %}